<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLoginController</servlet-name>
  	<display-name>AdminLoginController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.AdminLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuperMarketRegisterController</servlet-name>
  	<display-name>SuperMarketRegisterController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.SuperMarketRegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewMarketsController</servlet-name>
  	<display-name>ViewMarketsController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewMarketsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuperMarketLoginController</servlet-name>
  	<display-name>SuperMarketLoginController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.SuperMarketLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductRegisterController</servlet-name>
  	<display-name>ProductRegisterController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ProductRegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProductsController</servlet-name>
  	<display-name>ViewProductsController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewProductsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerRegisterController</servlet-name>
  	<display-name>CustomerRegisterController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.CustomerRegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerLoginController</servlet-name>
  	<display-name>CustomerLoginController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.CustomerLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewUsersController</servlet-name>
  	<display-name>ViewUsersController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewUsersController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllProductsController</servlet-name>
  	<display-name>ViewAllProductsController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewAllProductsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchMarketsController</servlet-name>
  	<display-name>SearchMarketsController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.SearchMarketsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchProductsController</servlet-name>
  	<display-name>SearchProductsController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.SearchProductsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderProductsController</servlet-name>
  	<display-name>OrderProductsController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.OrderProductsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateOrderController</servlet-name>
  	<display-name>CreateOrderController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.CreateOrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOrdersController</servlet-name>
  	<display-name>ViewOrdersController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewOrdersController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderRequestsController</servlet-name>
  	<display-name>OrderRequestsController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.OrderRequestsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptOrderController</servlet-name>
  	<display-name>AcceptOrderController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.AcceptOrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RejectOrderController</servlet-name>
  	<display-name>RejectOrderController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.RejectOrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOrderHistoryController</servlet-name>
  	<display-name>ViewOrderHistoryController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewOrderHistoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOrdersAdminController</servlet-name>
  	<display-name>ViewOrdersAdminController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewOrdersAdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPasswordController</servlet-name>
  	<display-name>ForgotPasswordController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCustomerProfileController</servlet-name>
  	<display-name>ViewCustomerProfileController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewCustomerProfileController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewMarketProfileController</servlet-name>
  	<display-name>ViewMarketProfileController</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ViewMarketProfileController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImageServlet</servlet-name>
  	<display-name>ImageServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AdminLoginController</servlet-name>
  <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuperMarketRegisterController</servlet-name>
  	<url-pattern>/RegisterMarket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewMarketsController</servlet-name>
  	<url-pattern>/ViewMarkets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuperMarketLoginController</servlet-name>
  	<url-pattern>/marketLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductRegisterController</servlet-name>
  	<url-pattern>/registerProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProductsController</servlet-name>
  	<url-pattern>/viewProducts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerRegisterController</servlet-name>
  	<url-pattern>/registerCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerLoginController</servlet-name>
  	<url-pattern>/customerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewUsersController</servlet-name>
  	<url-pattern>/viewCustomers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllProductsController</servlet-name>
  	<url-pattern>/viewAllProducts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchMarketsController</servlet-name>
  	<url-pattern>/searchMarkets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchProductsController</servlet-name>
  	<url-pattern>/searchProducts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderProductsController</servlet-name>
  	<url-pattern>/orderProducts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateOrderController</servlet-name>
  	<url-pattern>/createOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOrdersController</servlet-name>
  	<url-pattern>/viewOrders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderRequestsController</servlet-name>
  	<url-pattern>/orderRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptOrderController</servlet-name>
  	<url-pattern>/acceptOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RejectOrderController</servlet-name>
  	<url-pattern>/rejectOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOrderHistoryController</servlet-name>
  	<url-pattern>/viewOrderHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOrdersAdminController</servlet-name>
  	<url-pattern>/viewOrdersAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPasswordController</servlet-name>
  	<url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCustomerProfileController</servlet-name>
  	<url-pattern>/viewCustomerProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewMarketProfileController</servlet-name>
  	<url-pattern>/viewMarketProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageServlet</servlet-name>
  	<url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
</web-app>
